* {
  --slate-100: rgb(241 245 249);
  --slate-300: rgb(203 213 225);
  --slate-500: rgb(100 116 139);
  --slate-600: rgb(71 85 105);
  --slate-700: rgb(51 65 85);

}

.cart-nav {
  width: 200px;
}

.quantity-button {
  /* position: absolute;
  top: 75%;
  left: 71%; */
  /* transform: 'translate(-50%, -50%)', */
  /* width: 25px;
  border: none; */
  cursor: pointer;
  /* border-radius: 100%; */
  /* background: var(--slate-100); */
  color: var(--slate-700);
  /* border: 1px solid var(--slate-300); */
  /* font-size: 1cap; */
}

.cart-card {
  border: 3px solid transparent;
  border-radius: 5%;
  padding: 5px;
  width: 150px;
  height: 150px;
  justify-self: center;
}

.card {
  border: 3px solid transparent;
  border-radius: 5%;
  padding: 5px;
  width: 290px;
  height: 350px;
  justify-self: center;
}

.card:hover {
  border: 3px solid var(--slate-100);

}

.cart-button {
  position: absolute;
  top: 75%;
  left: 71%;
  /* transform: 'translate(-50%, -50%)', */
  border: none;
  cursor: pointer;
  border-radius: 100%;
  background: var(--slate-100);
  color: var(--slate-700);
  border: 1px solid var(--slate-300);
  font-size: 2cap;
}

.cart-button:hover {
  background: var(--slate-700);
  color: var(--slate-100);
  border: 1px solid var(--slate-600);
}

/* TEXT */

.name-text {
  color: var(--slate-700);
}

.description-text {
  color: var(--slate-500);
  font-size: 12px;
}

.lkr-text {
  color: var(--slate-700);
  font-size: 12px;
  height: fit-content;
  font-weight: 600;
}

.price-text {
  color: var(--slate-700);
  font-size: 22px;
  font-weight: 600;
}

.price-line {
  align-items: baseline;
}

.with-cart { 
  grid-template-columns: 
    1fr;           /* grid-cols-1 */
  /* screen size >= 640px */
  @media (min-width: 640px) {
    grid-template-columns: repeat(1, minmax(0, 1fr));  /* sm:grid-cols-2 */
  }
  /* screen size >= 768px */
  @media (min-width: 768px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));  /* md:grid-cols-3 */
  }
  /* screen size >= 1024px */
  @media (min-width: 1150px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));  /* lg:grid-cols-4 */
  }
  /* screen size >= 1280px */
  @media (min-width: 1425px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));  /* xl:grid-cols-5 */
  }
}

.without-cart { 
    grid-template-columns: 
      1fr;           /* grid-cols-1 */
    /* screen size >= 640px */
    @media (min-width: 640px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));  /* sm:grid-cols-2 */
    }
    /* screen size >= 768px */
    @media (min-width: 768px) {
      grid-template-columns: repeat(3, minmax(0, 1fr));  /* md:grid-cols-3 */
    }
    /* screen size >= 1024px */
    @media (min-width: 1024px) {
      grid-template-columns: repeat(4, minmax(0, 1fr));  /* lg:grid-cols-4 */
    }
    /* screen size >= 1280px */
    @media (min-width: 1280px) {
      grid-template-columns: repeat(5, minmax(0, 1fr));  /* xl:grid-cols-5 */
    }
}
